<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sign In page for the wall challenge">
    <title>The Wall: Sign In Page</title>
    <link rel="shortcut icon" href="../../assets/images/the-wall.png" type="image/x-icon">
    <link rel="stylesheet" href="../../assets/css/sign_in_page.css">
</head>
<body>
    <div id="wrapper">
        <form id="sign_in_form" action="#" class="form_template" method="POST">
            <div>
                <h1>Welcome <span>Login your account.</span></h1>
                <label>
                    Email
                    <input class="form_inputs" type="email" name="email_input">
                </label>
                <label>
                    Password
                    <input class="form_inputs" type="password" name="password_input">
                </label>
                <input type="submit" class="blue_buttons" value="Sign In">
                <p>Don’t have an account? <a href="../sign_up_in/sign_up.html">Sign In</a></p>
            </div>
            <div></div>
        </form>
    </div>

    <script src="../../assets/js/global.js"></script>
</body>
</html>