* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-display: swap;
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-display: swap;
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-display: swap;
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto-Medium.ttf");
}
.blue_buttons {
  background-color: #00A3FF;
  border-radius: 9px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  outline: none;
  transition: 0.21s;
}
.blue_buttons:hover {
  opacity: 0.8;
}
.error_input {
  border: 1px solid #EB5757 !important;
}
body {
  background-color: #2C2D34;
}
nav {
  background-color: #1E1F25;
  align-items: center;
  display: flex;
  height: 62px;
  justify-content: space-between;
  padding: 0 25px;
}
nav > span {
  background: url("../images/the_icon_sprite.svg");
  background-position: 0 -42px;
  height: 28px;
  width: 138px;
}
nav ul {
  display: flex;
  height: 100%;
}
nav ul li {
  align-items: center;
  border-right: 1px solid #3A3C46;
  color: #FFFFFF;
  display: inherit;
  font: 14px/16px "Roboto-Regular";
  list-style: none;
  margin-right: 26px;
  padding-right: 26px;
}
nav ul li:last-child {
  border-right: 0;
  margin-right: 0;
  padding-right: 0;
}
nav ul li a {
  color: #FFFFFF;
  display: flex;
  font: inherit;
  text-decoration: none;
}
nav ul li a::before {
  background: url("../../assets/images/the_icon_sprite.svg");
  background-position: -425px -50px;
  content: "";
  height: 13px;
  margin-right: 9px;
  width: 13px;
}
@media screen and (max-width: 580px) {
  nav {
    padding: 0 20px;
  }
  nav ul li:first-child {
    display: none;
  }
  nav ul li a span {
    display: none;
  }
  nav ul li a::before {
    margin-right: 0;
  }
}
#wrapper #post_reply_container {
  margin: 45px auto;
  width: 978px;
}
#wrapper #post_reply_container h1 {
  font: 21px/25px "Roboto-Regular";
  color: #FFFFFF;
}
#wrapper #post_reply_container > p {
  color: #6D7186;
  font: 17px/21px "Roboto-Regular";
  margin: 6px auto 55px;
}
#wrapper #post_reply_container > span {
  color: #FFFFFF;
  display: block;
  font: 16px/19px "Roboto-Regular";
  margin: 57px auto 20px;
}
#wrapper #post_reply_container ul {
  list-style: none;
}
#wrapper #post_reply_container ul > li {
  background: #1E1F25;
  border-radius: 10px;
  margin-bottom: 25px;
  padding: 22px 30px 30px;
}
#wrapper #post_reply_container ul > li#post_clone {
  display: none;
}
#wrapper #post_reply_container ul > li:hover .response_container .delete_button_container {
  opacity: 1;
}
#wrapper #post_reply_container ul > li p {
  color: #FFFFFF;
  font: 16px/25px "Roboto-Regular";
  margin: 0 0 0;
}
#wrapper #post_reply_container ul > li .post_reply_template {
  margin: 30px 0 23px;
  padding-left: 15px;
}
#wrapper #post_reply_container ul > li .post_reply_template textarea {
  font: 16px/25px "Roboto-Regular";
}
#wrapper #post_reply_container ul > li .response_container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
#wrapper #post_reply_container ul > li .response_container > span {
  color: #A3A3FF;
  display: block;
  font: 14px/16px "Roboto-Regular";
  margin-top: 10px;
}
#wrapper #post_reply_container ul > li .response_container > span span:first-child {
  border-right: 1px solid #A3A3FF;
  margin-right: 14px;
  padding-right: 18px;
}
#wrapper #post_reply_container ul > li .response_container .delete_button_container {
  opacity: 0;
}
#wrapper #post_reply_container ul > li .response_container > div {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  transform: translateX(129px);
  transition: 0.21s;
}
#wrapper #post_reply_container ul > li .response_container > div.show_delete_option {
  transform: translateX(0);
}
#wrapper #post_reply_container ul > li .response_container > div > button {
  background: url("../images/the_icon_sprite.svg");
  background-color: #32333C;
  border-radius: 4px;
  border: 1px solid #606066;
  cursor: pointer;
  height: 29px;
  width: 29px;
}
#wrapper #post_reply_container ul > li .response_container > div > button:hover {
  background-color: #FFFFFF;
}
#wrapper #post_reply_container ul > li .response_container > div > button.edit_button {
  background-position: -358px -43px;
  margin-right: 6px;
}
#wrapper #post_reply_container ul > li .response_container > div > button.delete_button {
  background-position: -387px -43px;
}
#wrapper #post_reply_container ul > li .response_container > div div {
  align-items: center;
  background: #32333C;
  border-radius: 0px 4px 4px 0px;
  border: 1px solid #606066;
  display: flex;
  padding: 0 8px;
  transition: 0.21s;
}
#wrapper #post_reply_container ul > li .response_container > div div button {
  background-color: transparent;
  border: none;
  color: #6D7186;
  cursor: pointer;
  font: 10px/12px "Roboto-Regular";
  margin-right: 8px;
}
#wrapper #post_reply_container ul > li .response_container > div div button:hover {
  color: #A3A3FF;
}
#wrapper #post_reply_container ul > li .response_container > div div button:last-child {
  margin-right: 0;
}
#wrapper #post_reply_container ul > li .response_container > div div span {
  color: #FFFFFF;
  cursor: pointer;
  font: 10px/12px "Roboto-Regular";
  margin-right: 8px;
}
#wrapper #post_reply_container ul > li .reply_thread {
  margin: 0 0 0;
  padding-left: 15px;
}
#wrapper #post_reply_container ul > li .reply_thread li {
  border-radius: 0;
  border-top: 1px solid #3F404A;
  list-style: none;
  padding: 24px 0 0;
}
#wrapper #post_reply_container ul > li .reply_thread li:first-child {
  border-top: none;
  padding: 0 0 0;
}
#wrapper #post_reply_container ul > li .reply_thread li:hover .response_container .delete_button_container {
  opacity: 1;
}
#wrapper #post_reply_container ul > li .reply_thread li .post_reply_template {
  display: none;
}
#wrapper #post_reply_container ul > li .reply_thread li .response_container span {
  border-right: 0;
}
#wrapper #post_reply_container ul > li .reply_thread li .response_container span:nth-child(2),
#wrapper #post_reply_container ul > li .reply_thread li .response_container span:last-child {
  display: none;
}
#wrapper #post_reply_container ul > li .reply_thread li .response_container .delete_button_container {
  opacity: 0;
}
#wrapper #post_reply_container .mobile_background {
  display: none;
}
#wrapper #post_reply_container #post_list_container.has_comments::before {
  display: none !important;
}
#wrapper #post_reply_container #post_list_container::before {
  align-items: center;
  border-radius: 9px;
  border: 1px dashed #6D6E75;
  color: #FFFFFF;
  content: "No post yet.";
  display: flex;
  font: 16px/19px "Roboto-Regular";
  height: 89px;
  justify-content: center;
  left: 0;
  margin: 33px auto 0;
  position: absolute;
  right: 0;
  text-align: center;
  width: 978px;
}
@media only screen and (max-width: 580px) {
  #wrapper #post_reply_container #post_list_container > li {
    padding: 22px 20px 12px;
  }
  #wrapper #post_reply_container #post_list_container > li > p {
    font: 14px/18px "Roboto-Regular";
    overflow-wrap: break-word;
  }
  #wrapper #post_reply_container #post_list_container > li .response_container {
    height: 30px;
    position: relative;
  }
  #wrapper #post_reply_container #post_list_container > li .response_container > span {
    width: 70% !important;
  }
  #wrapper #post_reply_container #post_list_container > li .response_container > span span .comment_response {
    font: 12px/14px "Roboto-Regular";
    margin-right: 0 !important;
    padding-right: 0 !important;
  }
  #wrapper #post_reply_container #post_list_container > li .response_container > span > span {
    display: inline-block;
    font: 10px/12px "Roboto-Regular";
  }
  #wrapper #post_reply_container #post_list_container > li .response_container > span > span:first-child {
    border-right: 0;
    display: block;
  }
  #wrapper #post_reply_container #post_list_container > li .response_container > span > span:last-child {
    display: inline-block;
  }
  #wrapper #post_reply_container #post_list_container > li .response_container .delete_button_container {
    position: absolute;
    right: 0;
  }
  #wrapper #post_reply_container #post_list_container > li .post_reply_template {
    margin: 11px 0 0;
    padding-left: 0;
  }
  #wrapper #post_reply_container #post_list_container > li .reply_thread {
    padding: 0 0 0;
  }
  #wrapper #post_reply_container #post_list_container > li .reply_thread li {
    padding: 17px 0 0 15px;
  }
  #wrapper #post_reply_container #post_list_container > li .reply_thread li .reply_thread {
    display: none;
  }
}
#wrapper .post_reply_template {
  border-radius: 10px;
  display: flex;
  height: 80px;
  justify-content: space-between;
  position: relative;
}
#wrapper .post_reply_template textarea {
  background-color: #3A3C46;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  font: 17px/25px "Roboto-Regular";
  height: 100%;
  outline: none;
  padding: 9px 20px;
  resize: none;
  width: 100%;
}
#wrapper .post_reply_template button {
  height: 38px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
}
@media only screen and (max-width: 580px) {
  #wrapper .post_reply_template {
    align-items: flex-end;
    background-color: #3A3C46;
    display: flex;
    flex-direction: column;
    height: auto;
    overflow: auto;
    resize: none;
  }
  #wrapper .post_reply_template .mobile_background {
    background-color: #3A3C46;
    border-top: 1px solid #6D7186;
    bottom: 1px;
    display: block !important;
    height: 58px;
    left: -10px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 90%;
  }
  #wrapper .post_reply_template button {
    bottom: 10px;
    top: unset;
    transform: none;
    z-index: 1;
  }
  #wrapper .post_reply_template textarea {
    border-bottom: 1px solid #3A3C46;
    font: 14px/15px "Roboto-Regular" !important;
    max-height: 300px;
    min-height: 115px;
    padding: 14px 20px;
  }
  #wrapper .post_reply_template textarea:focus ~ .mobile_background {
    border-top: 1px solid #00A3FF;
  }
}
@media only screen and (max-width: 1024px) {
  #wrapper {
    padding: 0 35px;
  }
  #wrapper #post_reply_container {
    width: 100%;
  }
  #wrapper #post_reply_container #post_list_container::before {
    width: 100%;
    position: static;
  }
}
@media only screen and (max-width: 580px) {
  #wrapper #post_reply_container {
    margin: 30px auto;
  }
  #wrapper #post_reply_container h1 {
    font: 20px/23px "Roboto-Regular";
  }
  #wrapper #post_reply_container > p {
    font: 16px/19px "Roboto-Regular";
    margin: 3px 0 15px;
  }
  #wrapper #post_reply_container > p.recent_forums {
    margin: 27px 0 8px;
  }
}
